@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 945px;
    /* padding-left: 30px;
    padding-right: 30px; */
  }
  .hamburder-btn {
    display: none;
  }
  .my-photo {
    width: 300px;
    height: 300px;
  }
  .title {
    padding-top: 0;
  }
  .main-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav-menu {
    display: flex;
    gap: 20px;
  }
  .nav-menu-item {
    color: var(--text-color);
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
  }
  .nav-menu-item:active,
  .nav-menu-item:hover {
    border: 2px solid var(--active-link-color);
    border-radius: 30px;
  }
  .footer-container {
    justify-content: space-between;
  }
  .footer-social-icons {
    margin: 0;
  }
  .footer-contacts {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .phone-futer-svg {
    fill: var(--text-color);
  }
}
