@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .mob-menu-list {
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 945px;
    /* padding-left: 30px;
    padding-right: 30px; */
  }
  .seagull-logo {
    width: 40px;
    height: 40px;
  }
  .hamburder-btn {
    display: none;
  }
  .my-photo {
    width: 300px;
    height: 300px;
  }
  .title {
    padding-top: 0;
    font-size: 40px;
  }
  .hero-text {
    font-size: 25px;
  }
  .helo-little-text {
    font-size: 12px;
  }
  .main-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav-menu {
    display: flex;
    gap: 20px;
  }
  .nav-menu-item {
    color: var(--text-color);
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
  }

  .current {
    border: 2px solid var(--active-link-color);
    border-radius: 30px;
    box-shadow: darkgray;
  }
  .footer-container {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  .footer-social-icons {
    margin: 0;
  }
  .footer-contacts {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .phone-futer-svg {
    fill: var(--text-color);
    transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1),
      width 150ms cubic-bezier(0.4, 0, 0.2, 1),
      height 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .phone-futer-svg:hover {
    fill: var(--active-link-color);
    width: 35px;
    height: 35px;
  }
  .contact-text {
    display: none;
  }
}

@media screen and (min-width: 946px) {
  .container {
    max-width: 1158px;
  }
  .seagull-logo {
    width: 45px;
    height: 45px;
  }

  .nav-menu-item: {
    border-bottom: 1px;
  }

  .current {
    border-bottom: 1px;
  }

  .main-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  .contact-text {
    display: inline-flex;
    color: var(--text-color);
    cursor: pointer;
    margin-left: 10px;
    font-size: 17px;
    border: none;
    transition: color, border 150ms cubic-bezier(0.4, 0, 0.2, 1),
      width 150ms cubic-bezier(0.4, 0, 0.2, 1),
      height 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .phone-futer-svg {
    height: 15px;
    width: 15px;
  }
  .footer-text {
    display: flex;
  }
  .phone-futer-svg:hover {
    fill: var(--active-link-color);
    width: 15px;
    height: 15px;
  }

  a:hover .contact-text {
    color: var(--active-link-color);
    border-bottom: 1px solid;
  }
  a:hover .phone-futer-svg {
    fill: var(--active-link-color);
    width: 35px;
    height: 35px;
  }
}
